html {
	background-color: #0a0820;
	font-size: 62.5%;
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
}

textarea {
	width: 100%;
	height: 30rem;
}

label {
	font-size: 2rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	border-bottom: 3px solid white;
}

input {
	width: 50%;
}

@font-face {
	font-family: "Signika";
	src: url(Signika-Regular.otf);
}

@font-face {
	font-family: "League Gothic";
	src: url(LeagueGothic-Regular.otf);
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #000;
	opacity:  0.3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #000;
	opacity:  0.3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #000;
	opacity:  0.3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #000;
	opacity:  0.3;
}

.text, .sub_heading, .text_content, .header_links, #contact, a, a:hover  {
	color: white;
}

.input_fields > input, textarea {
	color: black;
	font-size: 2rem;
}

.text {
	font-size: 8rem;
	font-family: "League Gothic";
}

.second_heading {
	font-family: "Signika";
	font-size: 2rem;
	text-shadow:
	2px  2px 0 rgba(255,255,255, 0.5),
	-1px -1px 0 rgba(255,255,255, 0.5),
	1px -1px 0 rgba(255,255,255, 0.5),
	-1px  1px 0 rgba(255,255,255, 0.5),
	1px  1px 0 rgba(255,255,255, 0.5);
}

#education, #source, #contact {
	display: none;
}

.header_links:hover {
	text-decoration: none;
}

.header_links, .text_content {
	font-family: "Signika";
	font-size: 3rem;
	letter-spacing: 0.1rem;
	text-shadow:
	2px  2px 0 rgba(0,0,0, 0.5),
	-1px -1px 0 rgba(0,0,0, 0.5),
	1px -1px 0 rgba(0,0,0, 0.5),
	-1px  1px 0 rgba(0,0,0, 0.5),
	1px  1px 0 rgba(0,0,0, 0.5);
}

.header_links {
	text-decoration: none;
	text-decoration-color: white;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 5rem;
	border-bottom: none;
}

#education > p {
	text-align: justify;
}

#send_button {
	text-align: right;
	padding-bottom: 5rem;
}

video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(img/bg.jpg) no-repeat;
	background-size: cover;
}

@media (max-width: 321px) {
	.right_align {
		padding-right: 2.5rem;
		text-align: right;
	}

	.left_align {
		padding-left: 2.5rem;
	}
	.second_heading {
		letter-spacing: .6rem;
	}
}

@media (min-width: 321px) and (max-width: 420px) {
	#bgvid {
		display: none;
	}
	.right_align {
		padding-left: 15rem;
	}
	.left_align {
		padding-left: 5rem;
	}
	.second_heading {
		letter-spacing: .85rem;
	}
}

@media (max-width: 420px) {
	.container {
		padding: 0;
		width: 75%;
		margin: 20% 12%;
	}

	.desktop_title {
		display: none;
	}
}

@media (min-width:421px) {
        .bgvideo {
                display: none;
        }
	.mobile_title {
		display: none;
	}

	.desktop_title {
		font-size: 25rem;
		text-align: center;
	}

	.second_heading {
		padding-left: 2rem;
		font-size: 6rem;
		letter-spacing: 3rem;
		text-align: center;
	}
}
